main.main_content
    .wrapper
        .inner
            section.items_section
                .header
                    h2.title Рекомендованные
                .content
                    .inner
                        .item
                            .thumbnail
                                .inner
                                    .image_wrap
                                        img(src="img/grid1.webp")
                                    .overlays
                                        .time_status


                            .details some details
