.avatar
    button.button_transparent
        span.img_wrap
            image(src="https://yt3.ggpht.com/-rMvpUlx0EeY/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rcWz2rScGz3ZegqqHIdthlVrpWzHg/s88-c-k-c0xffffffff-no-rj-mo/photo.jpg")
