header
    .wrapper
        include ./../buttons/hamburger-btn.pug
        include ./../logo.pug
        include ./../searchbox.pug
        .buttons
            include ./../buttons/meet-btn.pug
            include ./../buttons/menu-btn.pug
            include ./../buttons/notifications-btn.pug
            include ./../buttons/avatar-btn.pug