
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	background:#ffffff url(../img/bg_header.jpg) no-repeat left top;
	width:100%;
	text-align:left;

	position: fixed;
	top: 0;
	z-index: 10;

	.wrapper {
		height: $header-height;
		padding: 0 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.hamburger {
			margin: 0 16px 0 0;
		}


	}
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 1px 6px;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 8px;
      cursor: pointer;
      img {
        width: 32px;
        height: 32px;
        display: block;
      }
    }
  }
}

/* START: Searchbox */
.searchbox {
	display: flex;
	flex-grow: 1;
	flex-basis: .000000001px;

	form {
		max-width: 640px;
		width: 100%;
		margin: 0 auto;
		display: flex;

		.container {
			display: flex;
			flex-grow: 1;
			flex-basis: .000000001px;
			border: 1px solid #ccc;
			border-right: none;
			border-radius: 2px 0 0 2px;
			background-color: #fff;
			padding: 2px 6px;
			box-shadow: inset 0 1px 2px #eee;
			&.has_focus {
				border: 1px solid #1c62b9;
				box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
			}

			.input_wrapper {
				display: flex;
				flex-grow: 1;
				flex-basis: .000000001px;

				.searchinput {
					width: 100%;
					height: auto;
					border: 0;
					margin: 0 4px;
					background-color: transparent;
					box-shadow: none;
					font-family: 'Roboto','Noto',sans-serif;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
				}
			}

			.keys_wrapper {
				display: flex;
				      align-items: center;
				a {
					display: inline-block;
					padding: 0 4px;

					img {
						display: block;
						width: 19px;
						height: auto;
					}
				}
			}
		}

		.search_button {
			width: 65px;
			padding: 3px 6px;
			border: 1px solid #ccc;
			border-radius: 0 2px 2px 0;
			background-color: #f8f8f8;
			display: flex;
			align-items: center;
			justify-content: center;
			.inner {
				width: 20px;
				height: 20px;
				opacity: .6;
			}
		}
	}
}
/* FINISH: Searchbox */

/* START: Logo */
.logo {
	display: flex;
	flex-direction: row;
	width: 129px;
	.logo_link {
		width: 80px;
		height: 24px;
		display: block;
	}
	.country_code {
		font-size: 10px;
		font-family: Roboto, Arial, sans-serif;
		margin: 0 0 0 3px;
	}
}
/* FINISH: Logo */


/* START: Hamburger */
.hamburger {
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
	.inner {
		height: 100%;
		padding: 14px 11px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		position: relative;
		z-index: 1;
		.line {
			height: 2px;
			width: 100%;
			background-color: #606060;
		}
	}
	.animated {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		transform: scale(0);
		border-radius: 50%;
		background-color: #e7e7e7;
		opacity: 0;
		animation: humburger-pulse-out .2s linear;
	}

	&.active .animated {
		transform: scale(1);
		opacity: 1;
		animation: humburger-pulse-in .2s linear;
	}
}

@keyframes humburger-pulse-in {
	from {
		transform: scale(0);
		opacity: 0;
		background-color: #e7e7e7;
	}
	80% {
		transform: scale(1.2);
		background-color: #919191;
	}
	to {
		transform: scale(1);
		opacity: 1;
		background-color: #e7e7e7;
	}
}

@keyframes humburger-pulse-out {
	from {
		transform: scale(1);
		opacity: 1;
		background-color: #e7e7e7;
	}
	20% {
		transform: scale(1.2);
		background-color: #919191;
	}
	to {
		transform: scale(0);
		opacity: 0;
		background-color: #e7e7e7;
	}
}
/* FINISH: Hamburger */





@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}
